* {
  padding: 0;
  margin: 0;
}
:root {
  --font1: "Kenia", sans-serif;
  --font2: 'Signika Negative', sans-serif;
}

body{
  background-color: #ffe4d6;
}

a{
  text-decoration: none;
}


/*Home */
.main{
  width: 100%;
  display: flex;
  flex-direction: row;

}
.navbar{
  width: 30%;
  align-items: center;
  justify-content: center;
  margin: 6rem 8rem;
}
ul{
  list-style: none;

}
li {
  font-size: 2rem;
  padding: 2rem .5rem;
  font-family: var(--font1);
  font-weight: 700;
}

li a{
  color: #B0578D;
}
.btns {
  padding: .5rem 1rem;
  font-family: var(--font1);
  background-color: #B0578D;
  border: 2px solid #B0578D;
  cursor: pointer;
  font-size: 2rem;
}
.btns a{
  color: #ffe4d6;
}
.logo{
  margin: 6rem 1rem;
  width: 70%;

}
.logo h1{
  font-size: 6rem;
  color: #B0578D;
padding: 1rem 0;
  font-family: var(--font1);

}
.logo p{
  font-size: 1.5rem;
  font-family: var(--font2);

}
.logo h1 span{
  font-family: var(--font1);
  font-size: 6rem;
  color: #ffffff;
  background-color: #B0578D;
}


/* About */
.about{
  max-width: 100%;
  height: 100vh;
  text-align: center;
 

}
.data{
  margin: .5rem 3rem ;
}
.data h2{
  font-size: 2.5rem;
  background-color: #B0578D;
  color: #ffffff;
  font-family: var(--font1);
  padding:0.5rem;


}

.data p{
  font-size: 1.5rem;
  color: black;
  font-family: var(--font2);
  padding: 1rem .5rem;

}

.about .btn {
 
  background-color: #B0578D;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  border: 2px solid #B0578D;
  border-radius: 11px;
  padding: .5rem 2rem;
  cursor: pointer;
  font-family: var(--font1);

}

.about .btn a{
  color: #ffe4d6;
}



/* Game */
.contain {

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.head {
  background-color: #ffe4d6;
  font-size: 1.7rem;
  text-align: center;
  font-family: var(--font1);
  
  padding: 2rem 0;
  color: #B0578D;
}

.game {
  display: flex;
  flex-direction: column;
margin-top: 1rem;
  align-items: center;
  width: 40%;
}

.nav{
    width: 30%;
    align-items: center;
    justify-content: center;
    display: block;

}
.navdata{
    text-align: center;
padding-top: 3rem;
}
 .navdata li {
    font-size: 2rem;
    font-family: var(--font1);
    padding: 1rem .5rem;
    cursor: pointer;
 }
 .navdata li a{
  color: #B0578D;
 }
.container {
  display: grid;

  grid-template-rows: repeat(3, 8vw);
  grid-template-columns: repeat(3, 8vw);
  font-family: var(--font2);
  position: relative;
}

.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}

.box:hover {
  background-color: #FACBEA;
}

.gameturn {
     margin: 1rem 1rem;
}


.gameturn h2 {
  font-size: 2rem;
  color: #B0578D;
  font-family: var(--font1);
  font-weight: 700;

}
.gameturn h2 span {
  font-size: 1.5rem;
  color: #B0578D;

  font-family: var(--font2);
}

.gamebtn .btn {
    font-family: var(--font1);
    font-size: 1.5rem;
    padding: .5rem 1.5rem ;
    background-color: #B0578D;
    color: #ffe4d6;
    border: 2px solid #B0578D;
    margin: 1rem .5rem;
    cursor: pointer;
    border-radius: 11px;
    font-weight: 600;
}
.gamebtn .btn:hover{
    background-color: #ffe4d6;
    color: #B0578D;
  
    transition: 0.5s;
}
.gamegif{
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.gamegif img{
    width: 0%;
    transition: width Is ease-in-out;
    
}
.line{
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #911d91;
  transition: width 1s ease-in-out;
}

/* instructions */

.list .ins {
  padding: 1rem .5rem;
  color: black;
  font-family: var(--font2);
  font-weight: 400;

}



/* responsive design */

/* game */
@media (max-width : 932px) {
  .navdata{
     padding-top: 2rem;
}
 .navdata li{
    font-size: 1rem;
 }
 .head {
  font-size: 1rem;
}
.gameturn h2 {
  font-size: .7rem;

}
.gameturn h2 span {
  font-size: 1rem;
}
.gamebtn .btn{
  font-size: .7rem;
  padding: .5rem .8rem ;
  margin: .5rem .1rem;
}
}

@media (max-width:469px) {
  .contain {
   flex-direction: column;
   align-items: center;
  }
   
  .navdata{
    padding-top: 0;
  }
  .container {
  
    grid-template-rows: repeat(3, 15vw);
    grid-template-columns: repeat(3, 15vw);
  
    
  }
  .nav{
    width: 90%;
  }
  .gamegif{
    width: 90%;
  }


  .gamebtn .btn{
margin: .2rem 0;
font-size: .6rem;
padding: .5rem ;
   
}
.gamegif{
  margin-top: .5rem;
  text-align: center;
}
.navdata li {

    padding: .5rem 0;
 
}
.game{
  width: 99%;
}
}



@media (max-width:272px){
  .container {
  
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  
    
  }
 
}


/* home */

@media (max-width:1262px){
  .logo h1{
    font-size: 4rem;
  }

  .logo h1 span{
    font-size: 4rem;
  }
 .navbar li{
    font-size: 1.4rem;
    padding: .7rem .5rem;
 }
 .btns{
  font-size: 1.5rem;
 }

 .logo p{
  font-size: 1rem;
 }
}

@media (max-width:951px){
  .main{
    flex-direction: column-reverse;
text-align: center;
  }
  .navbar{
    width: 99%;
    margin: 3rem 1rem;
  }
  .logo{
    width: 99%;
    margin: 2rem 1rem;
  }
}

@media (max-width:500px){
  .logo h1{
    font-size: 3rem;
  }
  .logo h1 span{
    font-size: 3rem;
  }
  .logo{
    margin:2rem 1rem;
  }
  .navbar{
    margin: 2rem 1rem;
  }
}

@media (max-width:345px){
  .logo h1{
    font-size: 1.8rem;
  }

  .logo h1 span{
    font-size: 1.8rem;
  }
  .logo p{
    font-size: .9rem;
  }
  .navbar ul li {
    font-size: 1.4rem;
  }

  .btns{
     font-size: 1.5rem;
  }
  .aboutbtn .btn{
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
  }
  
}

@media (max-width:677px){
  .data h2{
    font-size: 2rem;
  }

  .data p{
    font-size: 1.2rem;
  }
  .about .data{
    margin: 0.5rem 1.5rem;
  }
  .list li{
    font-size: 1rem;
  }
}


